@model FireTest.Models.DepartmentsAndSubjects
<div id="departments">
    @foreach (var itemD in Model.Department)
    {
        <div class="col-4">
            <div class="wrapper">
                <div class="content">
                    <ol>
                        @foreach (var itemS in Model.Subject)
                        {
                            if (itemS.IdDepartment == itemD.Id)
                            {
                                <a href="@Url.Action("Index", "Disciplines", new { id = itemS.Id })">
                                    <li> @itemS.Name</li>
                                </a>
                            }
                        }
                    </ol>
                </div>
                <div class="parent">
                    <div class="leftD">
                        <div class='department d@(itemD.Id != 0 ? itemD.Id.ToString() : "")'></div>
                    </div>
                    <div class="rightD">
                        @itemD.Name
                    </div>
                </div>
            </div>
        </div>
    }
</div>