@Styles.Render("~/Content/audio")
@{
    ViewBag.Title = "Главная";
}
@Styles.Render("~/Content/statistic")
@if (ViewBag.Exam != null)
{
    <div class="row">
        <div class="ExamWarning">
            @Html.Raw(ViewBag.Exam.Replace("\n", "</br>"))
            @if (ViewBag.User == "user")
            {
                <div id="exam"></div>
                <script>
                    ExamInterval = setInterval(function () { $('#exam').load('/Examination/Access', { type: 'POST' }); }, 3000);
                </script>
            }
        </div>
    </div>
}
<div class="spoiler">
    <span class="headline">Выберите вид тестирования по квалификации</span>
</div>
<div class="-opened">
    <div class="spoiler">
        <div class="row">
            <div class="col-2"><div class="U-Firefighter"></div></div>
            <div class="col-2"><div class="U-Commander"></div></div>
            <div class="col-2"><div class="U-Guard"></div></div>
            <div class="col-2"><div class="U-Inspector"></div></div>
            <div class="col-2"><div class="U-Engineer"></div></div>
        </div>
    </div>
    <div class="-closed Q-select">
        <div class="row">
            <div class="col-2"><a href="/Qualification/Index/1?course=1"><div class="FirefighterQ"></div></a></div>
            <div class="col-2"><a href="/Qualification/Index/2?course=1"><div class="CommanderQ"></div></a></div>
            <div class="col-2 col-offset-6"><div class="U-course-1"></div></div>
        </div>
        <div class="row">
            <div class="col-2"><a href="/Qualification/Index/1?course=2"><div class="FirefighterQ"></div></a></div>
            <div class="col-2"><a href="/Qualification/Index/2?course=2"><div class="CommanderQ"></div></a></div>
            <div class="col-2"><a href="/Qualification/Index/3?course=2"><div class="GuardQ"></div></a></div>
            <div class="col-2 col-offset-4"><div class="U-course-2"></div></div>
        </div>
        <div class="row">
            <div class="col-2"><a href="/Qualification/Index/1?course=3"><div class="FirefighterQ"></div></a></div>
            <div class="col-2"><a href="/Qualification/Index/2?course=3"><div class="CommanderQ"></div></a></div>
            <div class="col-2"><a href="/Qualification/Index/3?course=3"><div class="GuardQ"></div></a></div>
            <div class="col-2"><a href="/Qualification/Index/4?course=3"><div class="InspectorQ"></div></a></div>
            <div class="col-2 col-offset-2"><div class="U-course-3"></div></div>
        </div>
        <div class="row">
            <div class="col-2"><a href="/Qualification/Index/1?course=4"><div class="FirefighterQ"></div></a></div>
            <div class="col-2"><a href="/Qualification/Index/2?course=4"><div class="CommanderQ"></div></a></div>
            <div class="col-2"><a href="/Qualification/Index/3?course=4"><div class="GuardQ"></div></a></div>
            <div class="col-2"><a href="/Qualification/Index/4?course=4"><div class="InspectorQ"></div></a></div>
            <div class="col-2"><a href="/Qualification/Index/5?course=4"><div class="EngineerQ"></div></a></div>
            <div class="col-2"><div class="U-course-4"></div></div>
        </div>
        <div class="row">
            <div class="col-2"><a href="/Qualification/Index/1?course=5"><div class="FirefighterQ"></div></a></div>
            <div class="col-2"><a href="/Qualification/Index/2?course=5"><div class="CommanderQ"></div></a></div>
            <div class="col-2"><a href="/Qualification/Index/3?course=5"><div class="GuardQ"></div></a></div>
            <div class="col-2"><a href="/Qualification/Index/4?course=5"><div class="InspectorQ"></div></a></div>
            <div class="col-2"><a href="/Qualification/Index/5?course=5"><div class="EngineerQ"></div></a></div>
            <div class="col-2"><div class="U-course-5"></div></div>
        </div>
    </div>
</div>

<div class="spoiler">
    <span class="headline">Выберите вид тестирования по дисциплинам</span>
</div>
<div class="-closed">
    @{ Html.RenderAction("Departments", "Home"); }
</div>

<div class="spoiler">
    <span class="headline">Ваша статистика</span>
</div>
<div class="-opened">
    @{ Html.RenderAction("UserStatistics", "Statistics"); }
</div>
@section scripts
{
    @Scripts.Render("~/bundles/statistic")
    <script>
        var chartB = document.getElementById("chartB");
        var PieChartB = new Chart(chartB, configB);
        var chartA = document.getElementById("chartA");
        var PieChartA = new Chart(chartA, configA);
        var chartQ1 = document.getElementById("chartQ1");
        var PieChartQ1 = new Chart(chartQ1, configQ1);
        var chartQ2 = document.getElementById("chartQ2");
        var PieChartQ2 = new Chart(chartQ2, configQ2);
        var chartQ3 = document.getElementById("chartQ3");
        var PieChartQ3 = new Chart(chartQ3, configQ3);
        var chartQ4 = document.getElementById("chartQ4");
        var PieChartQ4 = new Chart(chartQ4, configQ4);
        var chartQ5 = document.getElementById("chartQ5");
        var PieChartQ5 = new Chart(chartQ5, configQ5);
        var images = [
        @Html.Raw(ViewBag.Images)
        ];
        var imagesLoad = [];
        for (var i = 0; i < images.length; i++) {
            imagesLoad[i] = new Image();
            imagesLoad[i].src = images[i];
        }
    </script>
}