<ul class="sidebar-nav">
    @if (ViewBag.Access == "ADMIN")
    {
        <li>
            <a href="/Home/Index"><span class="sidebar-li home"></span>Главная</a>
        </li>
        <li class="battlesWidth">
            <a href="/Battles/Index"><span class="sidebar-li time"></span>Поединок</a>
            <div id="invite"></div>
        </li>
        <li>
            <a href="/Calendar/Index"><span class="sidebar-li calendar"></span>Календарь событий<span class="updateCalendar"></span></a>
        </li>
        <li>
            <a href="/Statistics/Index"><span class="sidebar-li stats"></span>Статистика</a>
        </li>
        <li>
            <a href="/Teacher/Index"><span class="sidebar-li teacher"></span>Преподавательская</a>
        </li>
        <li>
            <a href="/Administrator/Index"><span class="sidebar-li admin"></span>Администраторская</a>
        </li>
    }
    @if (ViewBag.Access == "TEACHER")
    {
        <li>
            <a href="/Home/Index"><span class="sidebar-li home"></span>Главная</a>
        </li>
        <li class="battlesWidth">
            <a href="/Battles/Index"><span class="sidebar-li time"></span>Поединок</a>
            <div id="invite"></div>
        </li>
        <li>
            <a href="/Calendar/Index"><span class="sidebar-li calendar"></span>Календарь событий<span class="updateCalendar"></span></a>            
        </li>
        <li>
            <a href="/Statistics/Index"><span class="sidebar-li stats"></span>Статистика</a>
        </li>
        <li>
            <a href="/Teacher/Index"><span class="sidebar-li teacher"></span>Преподавательская</a>
        </li>
    }
    @if (ViewBag.Access == "USER")
    {
        <li>
            <a href="/Home/Index"><span class="sidebar-li home"></span>Главная</a>
        </li>
        if (!ViewBag.NoBattle)
        {
            <li class="battlesWidth">
                <a href="/Battles/Index"><span class="sidebar-li time"></span>Поединок</a>
                <div id="invite"></div>
            </li>
        }
        <li>
            <a href="/Calendar/Index"><span class="sidebar-li calendar"></span>Календарь событий<span class="updateCalendar"></span></a>
        </li>
        <li>
            <a href="/Statistics/UserStatistics"><span class="sidebar-li stats"></span>Статистика</a>
        </li>

    }
</ul>
@if (ViewBag.Access == "USER")
{
    { Html.RenderAction("Awards", "Home"); }
}