@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <title>FireTest</title>
    <style>
        body {
            background: #000;
            color: rgb(196, 189, 151);
            font-size: 20px;
            font-family: 'Helvetica', 'Arial', sans-serif;
        }
        .row {
            display: table;
            width: 100%;
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="textback">
            <h3>Уважаемые посетителя сайта FireTest.</h3>
            <h4>Мобильная версия еще разрабатывается.</h4>
            <h4>Для выхода на сайт воспользуйтесь планшетом или настольным компьютером.</h4>
        </div>
    </div>
</body>
</html>