@{
    ViewBag.Title = "Администраторская";
}
@Styles.Render("~/Content/administrator")
<div class="row">
    <div class="col-6">
        <a href="Users" class="button">Назначить учителя или администратора</a>
    </div>
    <div class="col-6">
        <a href="SelectTeacher" class="button">Установить доступ к предметам</a>
    </div>
</div>