@{
    ViewBag.Title = "Администраторская";
}
@Styles.Render("~/Content/administrator")
<div class="row">
    <a href="Users" class="button">Назначить учителя или администратора</a>
</div>
<br />
<br />
<div class="row">
    <a href="SelectTeacher" class="button">Установить доступ к предметам</a>
</div>