@{
    ViewBag.Title = "Статистика преподавателей";
}
@Styles.Render("~/Content/administrator")
@using (Ajax.BeginForm("SelectTeacherStatisticAjax", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Users",
}))
{
    <div class="row">
        <h3>Поиск<span class="search"></span><input id="SearchString" name="SearchString" type="text"></h3>
    </div>
}
<div id="Users">
    @{ Html.RenderAction("SelectTeacherStatisticAjax", new { Page = 1 }); }
</div>
@section scripts
{
    <script>
    $('#SearchString').keyup(function () {
        $(this.form).submit();
    });
    </script>
}