@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Подтверждение пароля (если он был забыт)";
}
<div class="login">
    <div class="row center">
        Подтвержение почты
    </div>
    <hr />
    <div class="row center">
        Проверьте электронную почту, чтобы сбросить пароль.
    </div>
</div>
	
