@{
    ViewBag.Title = "Статистика";
}
@Styles.Render("~/Content/statistic")
<div id="Charts">
    @using (Ajax.BeginForm("Index", new AjaxOptions
    {
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Charts",
    }))
    {
        <div class="row">
            <div class="col-2">Группу</div>
            <div class="col-10">
                @Html.DropDownList("Groups", ViewBag.Groups as SelectList, new { @onchange = "$(this.form).submit();" })
            </div>
        </div>
    }
</div>
@section scripts
{
    @Scripts.Render("~/bundles/statistic")
    <script>
        var ctx = document.getElementById("chart");
        var myPieChart = new Chart(ctx, config);
    </script>
}