@{
    ViewBag.Title = "Статистика";
}
@Styles.Render("~/Content/statistic")

@using (Ajax.BeginForm("Index", new AjaxOptions
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Statistic",
}))
{
    <div class="row">
        <div class="col-8">Выберите в выпадающем списке какая статистика Вас интересует</div>
        <div class="col-4">
            <select name="id" onchange="$(this.form).submit();">
                <option value="0">Ответы на вопросы</option>
                <option value="1">Поединки</option>
            </select>
        </div>
    </div>
}
<div id="Statistic">
    @{ Html.RenderAction("CountAnswers"); }
</div>
@section scripts
{
    @Scripts.Render("~/bundles/statistic")
    <script>
        var ctx = document.getElementById("chart");
        var myPieChart = new Chart(ctx, config);
    </script>
}