@{
    ViewBag.Title = "Статистика";
}
<div class="row">
    <div class="textback">Ваша статистика</div>
</div>
@{ Html.RenderAction("UserStatistics", "Statistics"); }
@section scripts
{
    @Scripts.Render("~/bundles/statistic")
    <script>
        var chartB = document.getElementById("chartB");
        var PieChartB = new Chart(chartB, configB);
        var chartA = document.getElementById("chartA");
        var PieChartA = new Chart(chartA, configA);
        var chartQ1 = document.getElementById("chartQ1");
        var PieChartQ1 = new Chart(chartQ1, configQ1);
        var chartQ2 = document.getElementById("chartQ2");
        var PieChartQ2 = new Chart(chartQ2, configQ2);
        var chartQ3 = document.getElementById("chartQ3");
        var PieChartQ3 = new Chart(chartQ3, configQ3);
        var chartQ4 = document.getElementById("chartQ4");
        var PieChartQ4 = new Chart(chartQ4, configQ4);
        var chartQ5 = document.getElementById("chartQ5");
        var PieChartQ5 = new Chart(chartQ5, configQ5);
    </script>
}