<div class="row">
    <div class="col-4">Выберите период</div>
    <div class="col-8">
        <select name="DateRange" onchange="$(this.form).submit();">
            <option disabled selected> -- Выберите период -- </option>
            <option value="1">За послений месяц</option>
            <option value="2">За последние 3 месяца</option>
            <option value="3">За последние 6 месяцев</option>
        </select>
    </div>
</div>