<div class="row">
    <div class="col-4">Выберите вид статистики</div>
    <div class="col-8">
        <select name="DateRange" onchange="$(this.form).submit();">
            <option value="1">Месяц</option>
            <option value="2">Квартал</option>
            <option value="3">Семестр</option>
        </select>
    </div>
</div>