@{
    ViewBag.Title = "Статистика";
}
@Styles.Render("~/Content/administrator")
@using (Ajax.BeginForm("UsersAjax", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Users",
}))
{
    <div class="row">
        <div class="col-2">Группа</div>
        <div class="col-10">
            @Html.DropDownList("Group", ViewBag.Group as SelectList, new { @onchange = "$(this.form).submit();" })
        </div>
    </div>
    <div class="row">
        <div class="col-2">Поиск</div>
        <div class="col-10">
            <input name="SearchString" type="text" oninput="$(this.form).submit();">
        </div>
    </div>
}
<div id="Users">
    @{ Html.RenderAction("UsersAjax", new { Page = 1 }); }
</div>