<div id="Questions" class="row">
    @using (Ajax.BeginForm("CreateTestAjax", new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Questions",
    }))
    {
        @Html.AntiForgeryToken()
        <div class="row center">
            <div class="col-4">
                Дисциплина
            </div>
            <div class="col-8">
                @Html.DropDownList("Subjects", ViewBag.Subjects as SelectList, new { @onchange = "$(this.form).submit();" })
            </div>
        </div>
    }
</div>