@{
    ViewBag.Title = "Удаление вопроса";
}
@Styles.Render("~/Content/administrator")
<div id="Questions">
    @{ Html.RenderAction("DeleteQuestionSelectAjax", new { Page = 1 }); }
</div>
@section scripts
{
    <script>
    $('#SearchString').keyup(function () {
        $(this.form).submit();
    });
    </script>
}