@model FireTest.Models.Examination
@{
    ViewBag.Title = "Удалить экзамен";
}
<div class="row">
    <h3>Действительно хотите удалить экзамен:</h3>
    <h3>@Model.Name</h3>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row center">
        <input type="submit" value="Удалить" class="button" />
    </div>
    <div class="row center">
        @Html.ActionLink("На главную", "Index", null, new { @class = "button-Cancel" })
    </div>
}