@{
    ViewBag.Title = "Редактирование вопроса";
}
@Styles.Render("~/Content/administrator")
@using (Ajax.BeginForm("EditQuestionSelectAjax", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Questions",
}))
{
    <div class="text-success">@ViewBag.StatusMessage</div>
    <div class="row">
        <div class="col-2">Поиск</div>
        <div class="col-10">
            <input name="SearchString" type="text" oninput="$(this.form).submit();">
        </div>
    </div>
}
<div id="Questions">
    @{ Html.RenderAction("EditQuestionSelectAjax", new { Page = 1 }); }
</div>