<div id="QuestionsOld">
    @{ Html.RenderAction("EditOldAjax", new { Page = 1 }); }
</div>
@section scripts
{
    <script>
    $('#SearchStringOld').keyup(function () {
        $(this.form).submit();
    });
    </script>
}