@{
    ViewBag.Title = "Доступ к экзамену";
}
@Styles.Render("~/Content/administrator")
@using (Ajax.BeginForm("ExamAccessAjax", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Users",
}))
{
    <div class="row">
        <div class="textback center"><h3>Выберите каким студентам открыть доступ к экзамену</h3></div>
    </div>
    <div class="row">
        <div class="col-2">Поиск</div>
        <div class="col-10">
            <input name="SearchString" type="text" oninput="$(this.form).submit();">
        </div>
    </div>
}
<div id="Users">
    @{ Html.RenderAction("ExamAccessAjax", new { Page = 1 }); }
</div>
