input#SearchString,
input#SearchStringOld,
input#SearchStringNew {
    height: 35px;
    margin-left: 15px;
    outline-color: rgb(255, 115, 0);
}
textarea {
    width: 100%;
    max-width: 100%;
}
.correct input[type='checkbox'] {
    display: none;
    opacity: 0;
}
.correct input[type='checkbox'] ~ label {
    font-size: 20px;
    cursor: pointer;
}
.correct input[type='checkbox'] ~ label:after {
    font-family: 'Glyphicons Halflings';
    content: "\e088";
}
.correct input[type='checkbox']:checked ~ label:after {
    font-family: 'Glyphicons Halflings';
    content: "\e089";
}
.correct input[type='checkbox'] ~ label:hover {
    color: rgb(255, 115, 0);
}
.button a {
    text-decoration: none;
}
.substrate {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}
.substrate h3 {
    font-size: 30px;
}
.save {
    float: right;
    position: absolute;
    right: 2px;
    bottom: 4px;
    background: rgb(255, 115, 0);
    border: 0;
    cursor: pointer;
}
#Users a,
#Questions a,
#Subjects a {
    text-decoration: none;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table,
td,
th {
    border: 1px solid;
    padding: 10px;
}
.No button,
.Yes button {
    font-size: 20px;
    color: rgb(196, 189, 151);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}
.No button:hover,
.Yes button:hover {
    color: rgb(255, 115, 0);
}
.No button:before,
.Yes button:before {
    font-family: 'Glyphicons Halflings';
}
.No button:before {
    content: "\e088";
}
.Yes button:before {
    content: "\e089";
}
.pagination > li > a,
.pagination > li > span {
    background-color: transparent;
    border: 1px solid rgb(196, 189, 151);
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: rgba(196, 189, 151, 0.5);
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    cursor: default;
    background-color: rgb(255, 115, 0);
    border-color: rgb(196, 189, 151);
}
.input {
    width: 100%;
}
select {
    width: 100%;
    background-color: rgb(196, 189, 151);
    outline: none;
}
.c-body {
    color: black;
    background-color: rgba(114, 191, 230, 0.7);
    padding: 2px 6px;
    clear: both;
}
.tab-content,
.tab-radio {
    display: none;
}
.tab-radio:checked + .tab-content {
    display: block;
}
.formul-tabs {
    text-align: left;
}
.formul-tab {
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    background-color: rgba(114, 191, 230, 0.7);
    padding-left: 5px;
    color: white;
}
.formul-tab:hover {
    background-color: #e94d76;
}
.formula-border {
    border: 1px solid gray;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    float: left;
    background: white;
    margin: 5px;
    cursor: pointer;
}
.LatexMenu {
    display: table;
    border-collapse: separate;
    border-spacing: 6px;
    font-size: 20px!important;
}
.LatexButton {
    display: table-cell;
    padding: 3px;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 6px;
    vertical-align: middle;
    background: rgba(13, 13, 13, .5);
    cursor: pointer;
    font-size: 20px!important;
}
.LatexButton:hover {
    background: rgba(114, 191, 230, 0.7);
    color: white;
}