input#SearchString,
input#SearchStringOld,
input#SearchStringNew {
    height: 35px;
    margin-left: 15px;
    outline-color: rgb(255, 115, 0);
}
textarea {
    width: 100%;
    max-width: 100%;
}
.correct input[type='checkbox'] {
    display: none;
    opacity: 0;
}
.correct input[type='checkbox'] ~ label {
    font-size: 20px;
    cursor: pointer;
    color: red;
}
.correct input[type='checkbox']:checked ~ label {
    font-size: 20px;
    cursor: pointer;
    color: limegreen;
}
.correct input[type='checkbox'] ~ label:after {
    font-family: 'Glyphicons Halflings';
    content: "\e088";
}
.correct input[type='checkbox']:checked ~ label:after {
    font-family: 'Glyphicons Halflings';
    content: "\e089";
}
.correct input[type='checkbox'] ~ label:hover {
    color: rgb(255, 115, 0);
}
.issue-button-Cancel {
    color: rgb(196, 189, 151);
    background: none;
    border: 0;
    cursor: pointer;
    padding-bottom: 5px;
    outline: none;
    font-size: 100%;
    border-bottom: 2px dashed;
    white-space: normal;
    text-decoration: none;
    margin: -7px;
}
    .issue-button-Cancel:hover {
        color: rgb(255, 115, 0);
    }
.mini-button {
    color: rgb(196, 189, 151);
    background-color: rgba(114, 191, 230, 0.7);
    border: 0;
    cursor: pointer;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    outline: none;
    font-size: 100%;
    white-space: normal;
    min-width: 200px;
    text-decoration: none;
}
    .mini-button:hover {
        background-color: rgba(255, 115, 0, 0.7);
        color: white;
    }
.substrate {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}
.substrate h3 {
    font-size: 30px;
}
.save {
    float: right;
    position: absolute;
    right: 2px;
    bottom: 4px;
    background: rgb(255, 115, 0);
    border: 0;
    cursor: pointer;
}
.saveEval {
    float: right;
    background: rgb(255, 115, 0);
    border: 0;
    cursor: pointer;
    padding: 5px;
}
#Users a,
#Questions a,
#Subjects a {
    text-decoration: none;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table,
td,
th {
    border: 1px solid;
    padding: 10px;
}
.No button,
.Yes button {
    font-size: 20px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}
.No button {
    color:  rgb(255, 115, 0);
}
.Yes button {
    color:  rgb(114, 191, 230);
}
.No button:hover,
.Yes button:hover {
    color: rgb(196, 189, 151);
}
.No button:before,
.Yes button:before {
    font-family: 'Glyphicons Halflings';
}
.No button:before {
    content: "\e088";
}
.Yes button:before {
    content: "\e089";
}
.pagination > li > a,
.pagination > li > span {
    background-color: transparent;
    border: 1px solid rgb(196, 189, 151);
}
.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    background-color: transparent;
    border: 1px solid rgb(196, 189, 151);
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: rgba(196, 189, 151, 0.5);
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    cursor: default;
    background-color: rgb(255, 115, 0);
    border-color: rgb(196, 189, 151);
}
.input {
    width: 100%;
}
.c-body {
    color: black;
    background-color: rgba(114, 191, 230, 0.7);
    padding: 2px 6px;
    clear: both;
}
.tab-content,
.tab-radio {
    display: none;
}
.tab-radio:checked + .tab-content {
    display: block;
}
.formul-tabs {
    text-align: left;
}
.formul-tab {
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    background-color: rgba(114, 191, 230, 0.7);
    padding-left: 5px;
    color: white;
}
.formul-tab:hover {
    background-color: rgb(255, 115, 0);
}
.formula-border {
    border: 1px solid gray;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    float: left;
    background: white;
    margin: 5px;
    cursor: pointer;
}
.LatexMenu {
    display: table;
    border-collapse: separate;
    border-spacing: 6px;
    font-size: 20px!important;
}
.LatexButton {
    display: inline-table;
    padding: 3px;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 6px;
    vertical-align: middle;
    background: rgba(13, 13, 13, .5);
    cursor: pointer;
    font-size: 20px!important;
}
.LatexButton:hover {
    background: rgba(114, 191, 230, 0.7);
    color: white;
}
.type-tab {
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    background-color:rgba(114, 191, 230, 0.7);
    padding-left: 5px;
    color: white;
    border-radius:5px;
}
.type-tab:hover {
    background-color: rgb(255, 115, 0);
}
.type-content,
.type-radio {
    display: none;
}
.type-radio:checked + .type-content {
    display: block;
}
.active{
    background-color: rgb(255, 115, 0);
}
.equals{
    font-size: 30px;
}
.file-upload-button {
    color: rgb(196, 189, 151);
    background-color: rgba(114, 191, 230, 0.7);
    border: 0;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    font-size: 100%;
    white-space: normal;
    min-width: 200px;
    padding: 5px;
}
.file-upload-button:hover {
    background-color: rgba(255, 115, 0, 0.7);
}
.file-upload mark{
    background-color:transparent;
    color: rgb(196, 189, 151);
    cursor: pointer;
}
.file-upload input[type=file]{
    visibility: hidden;
    display: none;
    opacity: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    text-align: left;
    list-style: none;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
input.datepicker {
    border-radius: 0;
    outline-color: rgb(255, 115, 0);
    width: 100%;
    cursor: pointer;
}
.datepicker table {
    border: 0;
    max-width:300px;
}
.datepicker table tr td,
.datepicker table tr th {
    text-align: center;
    width: 0px;
    height: 0px;
    border-radius: 4px;
    border: none;
}
.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active {
    color: #fff;
    background-color: rgb(255, 115, 0);
}
.datepicker table tr td.active:active:hover,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active:active:focus,
.datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active:active.focus,
.datepicker table tr td.active.highlighted:active.focus,
.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.highlighted.active.focus {
    color: #fff;
    background-color: rgb(255, 115, 0);
}
.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
    color: #fff;
    background-color: rgb(255, 115, 0);
    cursor: pointer;
}
.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
    color: #fff;
    background-color: rgb(255, 115, 0);
}
.datepicker table tr td span:hover,
.datepicker table tr td span.focused {
    color: #fff;
    background-color: rgb(255, 115, 0);
}
.datepicker table tr td span.active:active:hover,
.datepicker table tr td span.active:hover:active:hover,
.datepicker table tr td span.active.disabled:active:hover,
.datepicker table tr td span.active.disabled:hover:active:hover,
.datepicker table tr td span.active.active:hover,
.datepicker table tr td span.active:hover.active:hover,
.datepicker table tr td span.active.disabled.active:hover,
.datepicker table tr td span.active.disabled:hover.active:hover,
.datepicker table tr td span.active:active:focus,
.datepicker table tr td span.active:hover:active:focus,
.datepicker table tr td span.active.disabled:active:focus,
.datepicker table tr td span.active.disabled:hover:active:focus,
.datepicker table tr td span.active.active:focus,
.datepicker table tr td span.active:hover.active:focus,
.datepicker table tr td span.active.disabled.active:focus,
.datepicker table tr td span.active.disabled:hover.active:focus,
.datepicker table tr td span.active:active.focus,
.datepicker table tr td span.active:hover:active.focus,
.datepicker table tr td span.active.disabled:active.focus,
.datepicker table tr td span.active.disabled:hover:active.focus,
.datepicker table tr td span.active.active.focus,
.datepicker table tr td span.active:hover.active.focus,
.datepicker table tr td span.active.disabled.active.focus,
.datepicker table tr td span.active.disabled:hover.active.focus {
    color: #fff;
    background-color: rgb(255, 115, 0);
}
.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #777777;
}
.qualification-color {
    color: rgb(255, 115, 0);
}