input#SearchString, input#SearchStringOld{
    height: 35px;
    margin-left: 15px;
}
.button a{
    text-decoration:none;
}
.save{
    float: right;
    position: absolute;
    right: 2px;
    bottom: 4px;
    background: rgb(255, 115, 0);
    border: 0;
    cursor: pointer;
}
#Users a, #Questions a, #Subjects a {
    text-decoration:none;
}
table {
    border-collapse: collapse;
    width: 100%;
}

table,
td,
th {
    border: 1px solid;
    padding: 10px;
}
.No button,
.Yes button {
    font-size: 20px;
    color: rgb(196, 189, 151);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}
.No button:hover,
.Yes button:hover {
    color: rgb(255, 115, 0);
}
.No button:before,
.Yes button:before {
    font-family: 'Glyphicons Halflings';
}
.No button:before {
    content: "\e088";
}
.Yes button:before {
    content: "\e089";
}
.pagination > li > a,
.pagination > li > span {
    background-color: transparent;
    border: 1px solid rgb(196, 189, 151);
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: rgba(196, 189, 151, 0.5);
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    cursor: default;
    background-color: rgb(255, 115, 0);
    border-color: rgb(196, 189, 151);
}
.input{
    width: 100%;
}
select{
    width: 100%;
    background-color: rgb(196, 189, 151);
    outline: none;
}