.department {
    background-image: url('department.png');
    width: 181px;
    height: 181px;
    zoom: 0.3;
}
.department.d1 {
    background-position: 0px 0px;
}
.wrapper:hover .d1 {
    background-position: 0px -191px;
}
.department.d2 {
    background-position: 0px -382px;
}
.wrapper:hover .d2 {
    background-position: 0px -573px;
}
.department.d3 {
    background-position: 0px -764px;
}
.wrapper:hover .d3 {
    background-position: 0px -955px;
}
.department.d4 {
    background-position: 0px -1146px;
}
.wrapper:hover .d4 {
    background-position: 0px -1337px;
}
.department.d5 {
    background-position: 0px -1528px;
}
.wrapper:hover .d5 {
    background-position: 0px -1719px;
}
.department.d6 {
    background-position: 0px -1910px;
}
.wrapper:hover .d6 {
    background-position: 0px -2101px;
}
.department.d7 {
    background-position: 0px -2292px;
}
.wrapper:hover .d7 {
    background-position: 0px -2483px;
}
.department.d8 {
    background-position: 0px -2674px;
}
.wrapper:hover .d8 {
    background-position: 0px -2865px;
}
.department.d9 {
    background-position: 0px -3056px;
}
.wrapper:hover .d9 {
    background-position: 0px -3247px;
}
.department.d10 {
    background-position: 0px -3438px;
}
.wrapper:hover .d10 {
    background-position: 0px -3629px;
}
.department.d11 {
    background-position: 0px -3820px;
}
.wrapper:hover .d11 {
    background-position: 0px -4011px;
}
#departments .wrapper {
    position: relative;
    cursor: pointer;
}
#departments .parent {
    width: 100%;
    display: table;
    height: 115px;
    font-weight: bold;
    z-index: 2;
    position: relative;
    word-wrap: break-word;
    overflow: hidden;
    border: 1px dashed rgb(196, 189, 151);
}
.leftD {
    display: table-cell;
    vertical-align: middle;
    width: 65px;
    padding-left: 10px;
    visibility: visible;
    -moz-transform: scale(.3);
    -moz-transform-origin: left center;
}
@-moz-document url-prefix() {
    .leftD {
        display: block;
        outline: none;
    }
}
.rightD {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
}
#departments .content {
    position: absolute;
    bottom: 0;
    display: block;
    z-index: 1;
    height: 0;
    padding-top: 115px;
    -webkit-transition: height .5s ease;
    -webkit-transition-delay: .4s;
}
#departments .wrapper:active .content {
    z-index: 3;
    -webkit-transition-delay: 0s;
}
#departments .content:hover {
    height: auto;
    z-index: 3;
    -webkit-transition-delay: 0s;
}
#departments .content ol {
    overflow: hidden;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
}
#departments .content ol a {
    text-decoration: none;
}
#departments .content li:hover {
    background: rgb(255, 115, 0);
    color: white;
}
#departments .content li:hover a {
    color: white;
}
#departments .content li {
    padding-left: 10px;
    line-height: 30px;
}
@media(max-width:1000px) {
    .leftD {
        visibility: collapse;
        width: 0;
        float: left;
    }
    .rightD {
        font-size: 14px;
    }
}
@media(max-width:730px) {
    .rightD {
        font-size: 14px;
    }
}
@media(max-width:678px) {
    .rightD {
        font-size: 12px;
    }
}
@media(max-width:414px) {
    .rightD {
        font-size: 10px;
    }
}