@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
body {
    background: #000 url('login.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgb(196, 189, 151);
    font-size: 18px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
body a {
    color: rgb(196, 189, 151);
    text-decoration: none;
    border-bottom: 1px dashed;
}
body a:hover {
    color: rgb(255, 115, 0);
}
hr {
    border-color: rgb(196, 189, 151);
}
.center {
    text-align: center;
}
.right{
    text-align: right;
    display: block;
    padding-right: 10px;
}
.row {
    display: table;
    width: 100%;
    padding-bottom: 10px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    display: table-cell;
    position: relative;
    min-height: 1px;
    float: left;
}
.col-12 {
    width: 100%;
}
.col-11 {
    width: 91.66666667%;
}
.col-10 {
    width: 83.33333333%;
}
.col-9 {
    width: 75%;
}
.col-8 {
    width: 66.66666667%;
}
.col-7 {
    width: 58.33333333%;
}
.col-6 {
    width: 50%;
}
.col-5 {
    width: 41.66666667%;
}
.col-4 {
    width: 33.33333333%;
}
.col-3 {
    width: 25%;
}
.col-2 {
    width: 16.66666667%;
}
.col-1 {
    width: 8.33333333%;
}
.col-offset-12 {
    margin-left: 100%;
}
.col-offset-11 {
    margin-left: 91.66666667%;
}
.col-offset-10 {
    margin-left: 83.33333333%;
}
.col-offset-9 {
    margin-left: 75%;
}
.col-offset-8 {
    margin-left: 66.66666667%;
}
.col-offset-7 {
    margin-left: 58.33333333%;
}
.col-offset-6 {
    margin-left: 50%;
}
.col-offset-5 {
    margin-left: 41.66666667%;
}
.col-offset-4 {
    margin-left: 33.33333333%;
}
.col-offset-3 {
    margin-left: 25%;
}
.col-offset-2 {
    margin-left: 16.66666667%;
}
.col-offset-1 {
    margin-left: 8.33333333%;
}
.col-offset-0 {
    margin-left: 0;
}
.button {
    color: rgb(196, 189, 151);
    background-color: rgba(114, 191, 230, 0.7);
    border: 0;
    cursor: pointer;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    outline: none;
    font-size: 100%;
    white-space: normal;
}
.button:hover {
    background-color: rgba(255, 115, 0, 0.7);
}
.button-Cancel {
    color: rgb(196, 189, 151);
    background: none;
    border: 0;
    cursor: pointer;
    padding-bottom: 5px;
    margin: 20px;
    outline: none;
    font-size: 100%;
    border-bottom: 2px dashed;
    white-space: normal;
    text-decoration: none;
}
.button-Cancel:hover {
    color: rgb(255, 115, 0);
}
input[type="text"],
textarea,
input[type="password"] {
    background-color: rgb(196, 189, 151);
    border: none;
    font-size: 20px;
    outline-color: rgb(255, 115, 0);
}
.checkbox {
    padding: 15px 0;
    display: table;
}
input[type="checkbox"] {
    /*display: none;*/
    
    position: absolute;
    zoom: 1.5;
    margin-left: 1px;
    margin-top: 1px;
    opacity: 0;
    cursor: pointer;
}
input[type="checkbox"]:hover ~ span {
    color: rgb(255, 115, 0);
}
input[type="checkbox"] ~ label,
input[type="checkbox"] ~ span {
    vertical-align: middle;
}
input[type="checkbox"] ~ label {
    cursor: pointer;
    padding-left: 5px;
}
input[type="checkbox"] ~ label:hover {
    color: rgb(255, 115, 0);
}
input[type="checkbox"] ~ span {
    font-family: 'Glyphicons Halflings';
}
input[type="checkbox"] ~ span:before {
    content: "\e157";
}
input[type="checkbox"]:checked ~ span:before {
    content: "\e067";
}
.login {
    margin-top: 50px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#4dffffff', GradientType=0);
    -webkit-box-shadow: 7px 9px 64px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 7px 9px 64px 1px rgba(0, 0, 0, 1);
    box-shadow: 7px 9px 64px 1px rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 15px;
}
.text-danger{
    color: rgb(255, 115, 0);
    line-height: 1.5;
}
.music{
    position: fixed;
    bottom: 0;
    padding-right: 10px;
    right: 0;
}