#datapicker{
    cursor: pointer;    
    height: 30px;
    background: rgb(196, 189, 151);
    border: 1px solid rgb(255, 115, 0);
    width: 15em;
    padding-left: 10px;
}
.datapicker:after{
    font-family: 'Glyphicons Halflings';
    content: "\e109";
    position:absolute;  
    color: rgb(255, 115, 0);
    margin: 7px 0 0 -25px;
    cursor:pointer; 
}
.datapicker:before{
    position: absolute;
    content: "|";
    font-size: 30px;
    margin-left: -40px;
    color: rgb(255, 115, 0);
    overflow: hidden;
}

#datapicker:hover ~ .datapicker:before{
    color: rgb(102, 175, 233);
}
#datapicker:focus ~ .datapicker:before{
    color: rgb(102, 175, 233);
}
#datapicker:hover ~ .datapicker:after{
    color: rgb(102, 175, 233);
}
#datapicker:focus ~ .datapicker:after{
    color: rgb(102, 175, 233);
}
.pickmeup {
    background: #000 url('Wall.jpg');
    border:1px solid rgb(196, 189, 151);
    border-radius: .4em;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    position: absolute;
    touch-action: manipulation;
    color: rgb(196, 189, 151);
}

.pickmeup * {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.pickmeup.pmu-flat {
    position: relative
}

.pickmeup.pmu-hidden {
    display: none
}

.pickmeup .pmu-instance {
    display: inline-block;
    height: 13.8em;
    padding: .5em;
    text-align: center;
    width: 15em
}

.pickmeup .pmu-instance .pmu-button {
    cursor: pointer;
    outline: none;
    text-decoration: none
}

.pickmeup .pmu-instance .pmu-button:hover {
    background: transparent;
    color: rgb(255, 115, 0);
}

.pickmeup .pmu-instance .pmu-not-in-month {
    color: #666
}

.pickmeup .pmu-instance .pmu-disabled,
.pickmeup .pmu-instance .pmu-disabled:hover {
    color: #333;
    cursor: default
}

.pickmeup .pmu-instance .pmu-selected {
    background: rgb(255, 115, 0);
    color: white;
}

.pickmeup .pmu-instance nav {
    color: rgb(196, 189, 151);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    line-height: 2em
}


.pickmeup .pmu-instance nav .pmu-prev,
.pickmeup .pmu-instance nav .pmu-next {
    display: none;
    height: 2em;
    width: 1em
}

.pickmeup .pmu-instance nav .pmu-month {
    width: 14em
}

.pickmeup .pmu-instance .pmu-years *,
.pickmeup .pmu-instance .pmu-months * {
    display: inline-block;
    line-height: 3.6em;
    width: 3.5em
}

.pickmeup .pmu-instance .pmu-day-of-week {
    color: rgb(196, 189, 151);
    cursor: default
}

.pickmeup .pmu-instance .pmu-day-of-week *,
.pickmeup .pmu-instance .pmu-days * {
    display: inline-block;
    line-height: 1.5em;
    width: 2em
}

.pickmeup .pmu-instance .pmu-day-of-week * {
    line-height: 1.8em
}

.pickmeup .pmu-instance:first-child .pmu-prev,
.pickmeup .pmu-instance:last-child .pmu-next {
    display: block
}

.pickmeup .pmu-instance:first-child .pmu-month,
.pickmeup .pmu-instance:last-child .pmu-month {
    width: 13em
}

.pickmeup .pmu-instance:first-child:last-child .pmu-month {
    width: 12em
}

.pickmeup:not(.pmu-view-days) .pmu-days,
.pickmeup:not(.pmu-view-days) .pmu-day-of-week,
.pickmeup:not(.pmu-view-months) .pmu-months,
.pickmeup:not(.pmu-view-years) .pmu-years {
    display: none
}