@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Ошибка";
}
<h1 class="text-danger">Произошла непредвиденная ошибка</h1>
<h2 class="text-danger">Пожалуйста, сообщите преподавателю о тех действиях, которые привели к появлению ошибки.</h2>
<div class="ExamWarning">@ViewBag.Message</div>